.header-container {
  background-color: #ffffff;
  border-bottom: 1px solid #e4e3eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.login-button {
  background-color: #5d37f3;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 8px;
}

.add-blog-button {
  background-color: #5d37f3;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 8px;
}
